<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <main>
            <div class="jumbotron">
                <h1>SQL Injection</h1>
                <p>Welcome to Insecure Deserialization Testing</p>
            </div>
        </main>

    </main>

    <form method="POST" action="/insecure">
        <label> Username</label>
        <input type="text" id="id" name="username" />
        <input type="submit" value="submit" onClick="yash()" />
    </form>
    <button onclick="yash()">yash</button>
    <p>
        <%= data %>
    </p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
<!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/aes.min.js"
    integrity="sha512-4b1zfeOuJCy8B/suCMGNcEkMcQkQ+/jQ6HlJIaYVGvg2ZydPvdp7GY0CuRVbNpSxNVFqwTAmls2ftKSkDI9vtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.min.js"
    integrity="sha512-fv28nWHTcWfoN3KBd2fs+YWsirQ+L0b/iIRS7HcNDPSAwxy6oSjRrYjQ+OtJoJz0wUKsVcPYgwcZzK04KfHD0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<!-- <script src="./jsencrypt.js"></script> -->
<script>
    var data = "<%= data1 %>";
    function yash() {
        console.log(data)
        var element = document.getElementById(id);
        // document.getElementById("id").value = "Yash"
        console.log(document.getElementById("id"))
        var ele = document.getElementById("id").value 
        // const crypto = require('crypto-js');
        // const buffer = require('buffer');
        // const { privateKey, publicKey } = CryptoJS.generateKeyPairSync('rsa', {
        //     modulusLength: 2048,
        // });
        // const algorithm = "SHA256";

        // // Converting string to buffer
        // const data = "I Love GeeksForGeeks";

        // // Sign the data and returned signature in buffer
        // const signature = CryptoJS.sign(algorithm, data, privateKey);

        // // Verifying signature using crypto.verify() function
        // const isVerified = CryptoJS.verify(algorithm, data, publicKey, signature);
        var hash = CryptoJS.SHA256(ele)
        // Printing the result
        console.log(ele)
        console.log(hash.toString());
        var hash = CryptoJS.SHA256(ele)
        hash = hash.toString()
        // var encrypted = CryptoJS.AES.encrypt("Yash", "Secret Passphrase").toString();

        // var decrypted = CryptoJS.AES.decrypt(encrypted, "Secret Passphrase");
        // console.log(decrypted)
        var ciphertext = CryptoJS.AES.encrypt(hash, data).toString();
        console.log(ciphertext)
        document.getElementById("id").value = ciphertext + " " + ele;
        // // Decrypt
        // var bytes = CryptoJS.AES.decrypt(ciphertext,);
        // var originalText = bytes.toString(CryptoJS.enc.Utf8);

        // console.log(originalText + 'Uas'); // 'my message'

        // var crypt = new JSEncrypt();
        // //You can also use setPrivateKey and setPublicKey, they are both alias to setKey
        // crypt.setKey("-----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCdIm4cTJR7IO9IDv+o6h+nWmT0ejipRc7O1ZFn5eOQYMU6nEFn68UfbZOqbCk/ZfJjdbsPUILpgIN3PAGKQC32vOvDQ2gx0Kt9MZbG6UmbvtCvzxntpCe+MGnJCXbuLmJV/d/nGi64lOYdun8/QW41lBm6h1zvdUkA1G36ChN4WQIDAQAB-----END PUBLIC KEY-----");

        // var text = 'test';
        // var enc = crypt.encrypt(text);
        // console.log(enc)    
    }
</script>
<!-- <script src="./insecure.js"></script> -->

</html>